/*
.BuildControls{
    width: 100%;
    background: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    padding: 0;
}
*/

.BuildControlsWrapper{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: auto;
    padding: 0px;
    max-width: 1200px;
    margin-bottom: 20px;
}
